.bdy {
    font-family: 'Roboto', sans-serif;
    background-color: #f1f4f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
   





.forgot-password-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 40px;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .back-home {
    text-align: left;
    margin-bottom: 20px;
  }
  
  .back-home a:hover {
    color: blue; /* Red color for the Back link */
    text-decoration: none;
    font-size: 16px;
  }
  
  .back-home a {
    color: #f54469; /* Red color for the Back link */
    text-decoration: none;
    font-size: 16px;
  }
  
  
  .titile {
    color: #232340;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .forgot-password-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .forgot-password-form label {
    font-size: 14px;
    color: #232340;
    display: block;
    text-align: left;
    width: 100%;
    margin-bottom: 8px;
  }
  
  .required {
    color: red;
  }
  
  .forgot-password-form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 16px;
    color: #232340;
  }
  
  .submit-btn {
    width: 100%;
    padding: 12px;
    background-color: #7367f0;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-btn:hover {
    background-color: #5b50cc;
  }
  
  .login-link {
    margin-top: 20px;
  }
  
  .login-link p {
    font-size: 14px;
    color: #6c6b80;
  }
  
  .sign-in-link {
    color: #f54469;
    text-decoration: none;
  }
  .sign-in-link:hover {
    color: blue;
    text-decoration: none;
  }
  
  /* Resetpass.css */
.input-container {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .email-icon {
    position: absolute;
    left: 10px;
    bottom: 34px;
    color: #aaa;
  }
  
  .input-container input[type="email"] {
    padding-left: 35px; /* Adjust padding to make room for the icon */
  }
  

  
  